<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:noNamespaceSchemaLocation="vendor/phpunit/phpunit/phpunit.xsd"
    bootstrap="vendor/autoload.php"
    colors="true"
>
    <testsuites>
        <testsuite name="app">
            <directory>./app</directory>
        </testsuite>
        <testsuite name="console">
            <directory>./console</directory>
        </testsuite>
        <testsuite name="http">
            <directory>./http</directory>
        </testsuite>
    </testsuites>
        <php>
            <env name="APP_ENV" value="testing"/>
            <env name="IMPORT_MUNICIPALITIES" value='false'/>
            <server name="DB_CONNECTION" value="db-testing"/>
            <env name="DB_CONNECTION" value="db-testing"/>
        </php>
    <source>
        <include>
            <directory suffix=".php">./app</directory>
            <directory suffix=".php">./console</directory>
            <directory suffix=".php">./http</directory>
        </include>
    </source>
</phpunit>
